#image_about{
    float:left;
    vertical-align: baseline;
    width: 326px;
    height: 412px;
    left: 68px;
    top: 287px;
    clear: both;
}

#about_text{
    text-align:left;
    float:right;
    margin: 0px;
    font-size: 22px;
    line-height: 120%;
    vertical-align: baseline;
}

section{
    background-color: #1D1E2C;
    padding-bottom: 10%;

}

.clearfix_about::after {
    content: "";
    clear: both;
    display: table;
}