*{
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}


/* For smartphones: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}


h2{
  font-size: 32px;
  line-height: 42px;
  font-style: italic;
  font-weight: 800;
  margin: auto;
  color: #1D1E2C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FF958C;
  padding: 15px;
}

h3{
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  color: #FF958C;
  text-align: center;
}

h4{
  font-style: italic;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FDFCEC;
  margin: auto;
}

h5{
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FF958C;
}

a{
  text-decoration: none;
  cursor: pointer;
}

button{
  background: #B6244F;
  border: 0.726744px solid #000000;
  box-sizing: border-box;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FDFCEC;
  cursor: pointer;
}

p{
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FDFCEC;
  text-align: left;
  margin: auto;
}

/*------ HEADER -------*/

header{
  display: block;
}

#header-main{
  background-color: #C4D7F2;
  display: flex;
  margin: auto;
  height: 79px;
}

#show-menu, #logo{
  width: 32px;
  height: 32px;
  margin: auto 5px;
  cursor: pointer;
}

#log-sign-frm{
  display: flex;
  text-align: center;
  margin: auto;
}

#sign-btn{
  display: none;
}

#log-btn{
  margin: auto;
}

#nav-header-menu{
  position: absolute;
  top: 79px;
  background: rgba(196, 215, 242, 0.9);
  padding: 10px 0px;
}

#nav-header-menu a{
  text-decoration: none;
  display: block;
  font-style: italic;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #1D1E2C;
  margin: 5px auto;
}

#log-sign-in-menu{
  text-align: center;
  margin: 10px auto;
}

#log-sign-in-menu button{
  font-size: 14px;
}

#search-bar{
  display: flex;
  text-align: center;
  background-color: #1D1E2C;
  padding: 10px;
}

#search-lupa{
  margin: auto;
  width: 31px;
  height: 31px;
}

#search-input{
  margin: auto;
  width: 80%;
  background-color: #FDFCEC;
  border: 0px;
}
.modal{
    display: none;
    position: absolute;
    width: 1012px;
    height: 803px;
    left: 0px;
    top: 0px;
    background: #1D1E2C;
    border: 7px solid #FF958C;
    box-sizing: border-box;
}
.modal-container-signup {
    display: none;
    position: absolute;
    width: 1012px;
    height: 803px;
    left: 215px;
    top: 45px;
}

.id-button-submit{
    display:  flex;
    position: absolute;
    width: 146px;
    height: 40px;
    left: 433px;
    top: 701px;
    background: #B6244F;
    border-radius: 50px;
}

.id-button-close{

    position: absolute;
    width: 43px;
    height: 40px;
    left: 920px;
    top: 37px;
    background: #FF958C;
}

/*------ FOOTER -------*/
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

footer{
	background-color: #C4D7F2;
}

#footer-main{
	display: flex;
	margin-left: auto;
    margin-right: auto;
	height: 79px;
}

#footer-text{
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
    color: #1D1E2C;
    display: block;
    margin: auto;
}

#footer-text a{
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #1D1E2C;
    display: block;
    margin: auto;
}

#footer-images{
	display: flex;
	text-align: right;
    float: right;
    padding: 5px;
}

#footer-images a{
    margin: 5%;
    width: 16%;
}

#footer-images img{
    width: 100%;
}

#footer-title {
	height: 61px;
	font-style: italic;
	font-weight: 800;
	font-size: 51px;
	line-height: 60px;
	text-align: center;
	color: #1D1E2C;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#footer-logo{
	width: 32px;
	height: 32px;
	margin: auto 5px auto auto;
}

/*------ TOP EXPERIENCES AND LAST EXPERIENCES -------*/
#experiences{
    display: inline-block;
}

.experience{
    display: flex;
    margin: auto;
    padding-bottom: 25px;
}

.experience div, .experience img{
    margin: 5px auto;
}

.experience-l{
    flex-direction: column;
}
.experience-r{
    flex-direction: column-reverse;
}

@media only screen and (min-device-width: 601px) {
    /* For tablets: */
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}

    /*----------------------HEADER------------------------------*/
    header{
    display: flex;
    flex-wrap: wrap;
    }

    #show-menu{
    display: none;
    }

	#sign-btn{
		display: block;
	}

	#nav-header-menu{
		position: static;
		display: flex;
	}

	#log-sign-in-menu button{
		display: none;
	}

	#search-bar{
		padding: 0px;
		background: rgba(196, 215, 242, 0.9);
	}

	#search-input{
		display: none;
	}

}

@media only screen and (min-device-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    h3{
        font-size: 32px;
    }

    p{
        margin: 0px;
        font-size: 22px;
        line-height: 120%;
    }

    /*----------------------HEADER------------------------------*/
    header button{
    font-size: 18px;
    line-height: 28px;
    }

    h1{
    font-size: 42px;
    }

    #head-title {
    font-weight: 800;
    font-size: 51px;
    margin: auto auto auto 10px
    }

    #nav-header-menu a{
    font-size: 20px;
    }

    #search-bar{
        padding-left: 6.00%;
        padding-right: 2.33%;
    }

    #search-input{
        display: flex;
        background-color: #1D1E2C;
        width: 70%;

    }

    #logo, #footer-logo {
        width: 63px;
        height: 55px;
    }

    /*----------------------EXPERIENCES------------------------------*/
    .experience{
        margin: 25px auto;
        flex-direction: row;
        padding: 7px;
    }

    .experience:hover{
        background-color: rgba(255, 149, 140, 0.5);
        transition: 0.1s;
    }

    .experience div{
        margin: 5px 15px;
    }

    .experience-l img{
        margin-right: 5px;
    }

    .experience-r img{
        margin-left: 5px;
    }

    .experience-l div h3, .experience-l div p{
        text-align: left;
    }

    .experience-r div h3, .experience-r div p{
        text-align: right;
    }
}

