/*Palette: 
- Oscuro: #1D1E2C
- Azulito: #C4D7F2
- Salmón: #FF958C
- Piel de limón: #FDFCEC
- Granate raro no sé: #B6244F
*/

*{
  margin: 0px;
}
/* For smartphones: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  line-height: 42px;
  font-style: italic;
  font-weight: 800;
  margin: auto;
  color: #1D1E2C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  font-family: Raleway, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FF958C;
  padding: 30px;
}

h3{
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  color: #FF958C;
  text-align: center;
}

h4{
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FDFCEC;
  margin: auto;
}

button{
  background: #B6244F;
  border: 0.726744px solid #000000;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FDFCEC;
  cursor: pointer;
}

p{
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FDFCEC;
  text-align: left;
  margin: auto;
}

/*------ HEADER -------*/

header{
  display: block;
}

#header-main{
  background-color: #C4D7F2;
  display: flex;
  margin: auto;
  height: 79px;
}

#show-menu, #logo{
  width: 32px;
  height: 32px;
  margin: auto 5px;
  cursor: pointer;
}

#log-sign-frm{
  display: flex;
  text-align: center;
  margin: auto;
}

#sign-btn{
  display: none;
}

#log-btn{
  margin: auto;
}

#nav-header-menu{
  position: absolute;
  top: 79px;
  background: rgba(196, 215, 242, 0.95);
  padding: 10px 0px;
}

#nav-header-menu a{
  text-decoration: none;
  display: block;
  font-family: Raleway;
  font-style: italic;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #1D1E2C;
  margin: 5px auto;
}

#log-sign-in-menu{
  text-align: center;
  margin: 10px auto;
}

#log-sign-in-menu button{
  font-size: 14px;
}

#search-bar{
  display: flex;
  text-align: center;
  background-color: #1D1E2C;
  padding: 10px;
}

#search-lupa{
  margin: auto;
  width: 31px;
  height: 31px;
}

#search-input{
  margin: auto;
  width: 80%;
  background-color: #FDFCEC;
  border: 0px;
}


/*----- MAIN SECTION -----*/
#main-sect{
  background-color: #1D1E2C;
  display: inline-block;
  text-align: center;
}

#main-img{
  margin: auto;
}

#location-budget{
  margin: 15px auto;
}

#interests{
  display: flex;
  margin: auto;
}

.interest{
  background: #FF958C;
  border-radius: 22.1608px;
  margin: 10px;
}

.interest p{
  padding: 0px 10px;
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #1D1E2C;
}

#description{
  display: inline-block;
}

#media{
  display: inline-block;
  margin: auto;
}

#images, #videos{
  display: flex;
  margin: 30px auto;
  text-align: center;

}

#images div, #videos div{
  display: flex;
  margin: auto;
}

.arrow-img {
  display: flex;
  border: none;
  background: none;
  margin: auto;
}

.arrow-img:hover {
  cursor: pointer;
}

.arrow-img img{
  display: flex;
  margin: auto;
}

.obj1{
  display: flex;
}

.obj2, .obj3, .obj4, .obj5{
  display: none;
}

#bottom-sect{
  display: inline-block;
  text-align: center;
}

#likes-coms{
  display: flex;
  padding: 20px 4.11%;
}

.comment-frm{
  background: #FDFCEC;
  border-radius: 50px;
  display: flex;
  margin: auto;
  padding: 5px;

}

.comment-input{
  margin: auto;
  background: transparent;
  display:inline-block;
  font-size: 20px;
  border: 0px;
  color: #1D1E2C;
}

.comment-input:focus{
  outline: none;
}

.send-btn{
  margin: auto 5px auto auto;
  cursor: pointer;
}

#like-frm{
  display: flex;
}

#like-img{
  height: 32px;
  margin: auto;
}

#see-comments{
  background: #FF958C;
  border-radius: 50px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1D1E2C;
  padding: 5px;
  margin: 20px auto;
}

/*----- POP UP COMMENTS -----*/



#pop-up-comments{
  position: absolute;
  background: #1D1E2C;
  border: 7px solid #FF958C;
  box-sizing: border-box;
  left: 50%;
  top: 75%;
  transform: translate(-50%, 0);
}

#comment-sect{
  display: flex;
  flex-wrap: wrap;
  max-height: 250px;
  overflow: scroll;
}

#pop-up-comments div{
  margin: auto;
  display:  flex;
}

.close-btn{
  background: #FF958C;
  border-radius: 10px;
  width: 30px;
  margin: 10px;
  float: right;
  color: #1D1E2C;
}

#pop-up-comments h2{
  font-family: Raleway, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FF958C;
  padding: 30px;
}

#pop-up-comments h3{
  margin: 10px auto;
  text-align: right;
}

#pop-up-comments p{
  font-size: 18px;
  line-height: 20px;
  margin: 10px auto;
  text-align: left;
}

.separator{
  margin: 25px auto;
}

.comment{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#pop-up-comments .comment-frm{
  margin: 20px auto;
}

/*----- FOOTER -----*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

footer{
  background-color: #C4D7F2;
  display: block;
}

#footer-main{
  background-color: #C4D7F2;
  display: flex;
  margin: auto;
  height: 79px;
}

#footer-text{

  width: 119px;
  height: 49px;

  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

#footer-images{
  background-color: #C4D7F2;
  display: flex;
  margin: auto;
  text-align: right;
}

#images-app{
  width: 50px;
  height: 50px;
  margin: auto 10px;
}

#footer-title {
  width: 382.99px;
  height: 61.05px;

  font-family: Raleway;
  font-style: italic;
  font-weight: 800;
  font-size: 50.8721px;
  line-height: 60px;
  text-align: center;

  color: #1D1E2C;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#footer-logo{
  width: 32px;
  height: 32px;
  margin: auto 5px;
  cursor: pointer;
}


@media only screen and (min-device-width: 601px) {
  /* For tablets: */
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}
  
  h1{
    margin-top: 30px;
  }
  
  /*HEADER*/
  header{
    display: flex;
    flex-wrap: wrap;
  }

  h1{
    font-size: 35px;
  }

  #show-menu{
    display: none;
  }

  #sign-btn{
    display: block;
  }

  #nav-header-menu{
    position: static;
    display: flex;
  }

  #nav-header-menu a{
    font-size: 18px;
  }

  #log-sign-in-menu button{
    display: none;
  }

  #search-bar{
    padding: 0px;
    background: rgba(196, 215, 242, 0.95);
  }

  #search-input{
    display: none;
  }

  /*MAIN SECTION*/

  #location-budget{
  display: flex;
  }

  #location-budget h3{
    margin: auto;
  }

  .arrow-img{
    margin: 10px;
  }

  .arr-left{
    margin: auto auto auto 5px;
  }

  .arr-right{
    margin: auto 5px auto auto;
  }

  .arrow-img img {
    margin: auto;
    height: 50px;
  }

  .obj1, .obj2{
    display: inline-block;
    margin: auto;
  }

  .obj3, .obj4, .obj5{
    display: none;
  }

  .comment-input{
    font-size: 18px;
  }




@media only screen and (min-device-width: 769px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}


  header button{
    font-size: 18px;
    line-height: 28px;
  }

  h1{
    font-size: 42px;
  }

  #nav-header-menu a{
    font-size: 20px;
  }

  #search-bar{
    padding-left: 6.00%;
    padding-right: 2.33%;
  }

  #search-input{
    display: flex;
    background-color: #1D1E2C;
    width: 70%;
  }

  .obj1, .obj2, .obj3{
    display: inline-block;
    margin: auto;
    width: 30%;
  }

  .obj4, .obj5{
    display: none;
  }

  }


