/* IMPLEMENTS index.html SPECIFIC DESIGN */

/*----- MAIN SECTION -----*/
section{
	background-color: #1D1E2C;
}

.has-exp {
	fill: #FF958C;
	cursor: pointer;
}

.has-exp:hover {
	fill: #B6244F
}

#experiences ul{
	list-style-type: none;
}

@media only screen and (min-device-width: 601px) {
  /* For tablets: */
}


@media only screen and (min-device-width: 769px) {
  /* For desktop: */

}
