/*Palette: 
- Oscuro: #1D1E2C
- Azulito: #C4D7F2
- Salmón: #FF958C
- Piel de limón: #FDFCEC
- Granate raro no sé: #B6244F
*/

*{
	margin: 0px;
}
/* For smartphones: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

h1{
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	line-height: 42px;
	font-style: italic;
	font-weight: 800;
	margin: auto;
	text-align: center;
	color: #1D1E2C;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button{
	background: #B6244F;
	border: 0.726744px solid #000000;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	color: #FDFCEC;
	cursor: pointer;
}

/*------ header -------*/

#header-main{
	background-color: #C4D7F2;
	display: flex;
	margin: auto;
	height: 79px;
}

#show-menu, #logo{
	width: 32px;
	height: 32px;
	margin: auto 5px;
	cursor: pointer;
}

#log-sign-frm{
	text-align: center;
	margin: auto;
}

#sign-btn{
	display: none;
}

#log-btn{
	margin: auto;
}

#nav-header-menu{
	background: rgba(196, 215, 242, 0.95);
	padding: 10px 0px;
}

#nav-header-menu a{
	text-decoration: none;
	display: block;
	font-family: Raleway;
	font-style: italic;
	font-weight: 800;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	color: #1D1E2C;
	margin: 5px auto;
}

#log-sign-in-menu{
	text-align: center;
	margin: 10px auto;
}

#log-sign-in-menu button{
	font-size: 14px;
}

/*----- section -----*/
section{
	background-color: #1D1E2C;
}

@media only screen and (min-device-width: 601px) {
  /* For tablets: */
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}

}

@media only screen and (min-device-width: 769px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  }