/*Palette:
- Oscuro: #1D1E2C
- Azulito: #C4D7F2
- Salmón: #FF958C
- Piel de limón: #FDFCEC
- Granate raro no sé: #B6244F
*/

/*----- MAIN SECTION -----*/
#main-section{
	background-color: #1D1E2C;
}

#main-section a{
	cursor: auto;
}

#filter-bar{
	display: flex;
	text-align: center;
	margin: 30px auto;
}

#filter-bar img{
	margin: auto 5px;
}

#filter-bar div{
	background-color: #FDFCEC;
	display: flex;
	margin: auto 5px;
  padding: 2px;

}

#filter-input{
  margin: auto;
  background: transparent;
  display:inline-block;
  color: #1D1E2C;
  font-size: 18px;
  border: 0px;
}

#filter-input:focus{
  outline: none;
}

#add-filter-btn{
	font-size: 13px;
	background: #FF958C;
	border: 1px solid #1D1E2C;
	box-sizing: border-box;
}

#filters{
	display: flex;
	margin: 10px auto;
}

.filter{
	display: flex;
	margin: auto 5px;
}

.delete-filter{
	background: #FF958C;
	border-color: transparent;
  border-radius: 50px;
  height: 13px;
  width: 13px;
  font-size: 9px;
  font-style: normal;
  font-weight: normal;
  color: #1D1E2C;
  margin: auto 5px;
  cursor: pointer;
  line-height: 10px;
}

#experiences{
	display: inline-block;
}

.experience{
  display: flex;
  margin: auto;
  padding-bottom: 25px;
}

.experience div, .experience img{
  margin: 5px auto;
}

.experience-l{
  flex-direction: column;
}
.experience-r{
  flex-direction: column-reverse;
}



@media only screen and (min-device-width: 601px) {
  /* For tablets: */

}


@media only screen and (min-device-width: 769px) {
		/*FOR DESKTOP*/
		.filter{
			margin: auto 10px;
		}

		.delete-filter{
			height: 18px;
			width: 18px;
			font-size: 14px;
		}

		.experience{
			margin: 25px auto;
			flex-direction: row;
			border-color: #FF958C;
			border-radius: 1px;
			border-style: solid;
			padding: 7px;
		}

		.experience:hover{
			background-color: rgba(255, 149, 140, 0.5);
			transition: 0.1s;
		}

		.experience div{
			margin: 5px 15px;
		}

		.experience-l img{
			margin-right: 5px;
		}

		.experience-r img{
			margin-left: 5px;
		}

		.experience-l div h3, .experience-l div p{
			text-align: left;
		}

		.experience-r div h3, .experience-r div p{
			text-align: right;
		}

  }
