/* IMPLEMENTS my_exp.html SPECIFIC DESIGN */

/*----- CUTOMIZED STANDARDS -----*/
h3 {
	color: black;
}

/*----- MAIN SECTION -----*/
#section {
	background-color: #1D1E2C;
	display: flex;
	flex-direction: column;
}

#section h2 {
	color: #FF958C;
	text-align: center;
}

.exp-coll {
	scrollbar-width: thin;
	scrollbar-color: rgba(0,0,0,0.25) transparent;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	margin: 15px auto 25px;
	height: 30vh;
	background-color: rgba(255,255,255,0.02)
}

.exp-coll p {
	font-size: 16px;
	text-align: center;
}

.big-button {
	margin: 10px auto
}

.general-exp {
	margin: 0px auto auto ;
	display: flex;
	position: relative;
}

.top-mark {
	position: absolute;
	height: 55px;
	width: 70px;
	top: 50px;
	left: 0px;
	background-color: rgba(255, 149, 140, 0.75);
	z-index: 3
}

.top-mark img {
	height: 45px;
	margin: 5px 0px 0px 20px
}

.experience-col {
	background-color: #C4D7F2;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
}

.img-remove {
	display: inline-flex;
	position: relative;
}

.center-img, .img-title {
	width: 70%;
	margin: 20px auto auto;
}

.remove-select {
	position: absolute;
	right: 4px;
	top: 10px;
	display: flex;
	flex-direction: column;
}

.remove, .remove-exp {
	border: none;
	width: 25px;
	border-radius: 7px;
	margin-bottom: 2px
}

.interests-exp {
	display: flex;
	flex-direction: row;
	margin: 10px 0px;
}

.interest {
	padding-top: 5px;
	height: 25px;
	width: 40%
}

.interest p {
  color: black
}

.small {
	height: 28px;
	font-size: 16px;
	width: 50%;
	margin: auto auto 10px;
}

#new-coll {
	display: none
}

#block-1 {
	display: grid;
	grid-template-areas: 'left right';
	grid-column-gap: 20px
}

#no-experiences, #no-collections {
	display: none
}

.side-img-1, .side-img-2 {
	display: none;
	margin: auto
}

.exp-p {
	color: black;
	margin: 20px auto 10px
}

/* --------POPUP------- */
.popup {
	z-index: 4;
	display: none
}

.popup h3 {
	color: #FF958C
}

#create-exp {
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
	grid-template-areas: 'left right';
}

.exp-label {
	color: white;
	width: 80px;
	font-style: italic;
	margin: auto;
	text-align: justify;
}

#create-exp input, #create-exp select, #input-new-col {
	height: 35px;
	border: none;
	border-radius: 20px;
	background: white;
	outline: none;
	padding-left: 15px
}

.grid input {
	margin: 10px auto;
	margin-right: 20px
}

.label-in {
	margin-right: 10px
}

.submit-but {
	margin: 20px auto;
	border: none;
	border-radius: 20px;
	line-height: 30px;
	padding-bottom: 5px
}

#input-smaller {
	display: flex;
	margin: auto auto 10px;
	flex-direction: column;
}

.sub-in {
	margin: auto;
	display: flex;
	gap: 20px
}

#create-exp select {
	margin-top: 10px
}

.hidden {
	display: none
}

#input-label {
	width: 66.6% !important;
	height: 35px;
	font-style: italic;
	background-color: #FF958C;
	border-radius: 20px;
	margin: 10px auto;
	cursor: pointer;
}

#input-label p{
	padding-top: 8px;
	text-align: center;
	color: black;
}

#selected-exp {
	margin: auto;
}

.small-title {
	color: white;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px
}

#selected-experiences-p {
	text-align: left;
}

#new-collection {
	display: flex;
	flex-direction: column;
	margin: 20px auto 0px;
}

.question {
	color: white;
	text-align: center;
	font-size: 16px
}

.yes-no {
	display: flex;
	flex-direction: row;
	margin: auto;
}

@media only screen and (min-device-width: 601px) {
  /* For tablets: */
	h2 {
		margin-top: 20px
	}

	#block-2, .general-exp {
		display: grid;
	}

	.general-exp {
		grid-column-gap: 20px
	}


}

@media only screen and (min-device-width: 769px) {
  /* For desktop: */
	p {
		margin: auto;
	}

	.img-remove {
		margin-top: 10px
	}

	.side-img-1, .side-img-2 {
		display: block;
		width: 20%;
	}

	.side-img-1 {margin-right: 0px}
	.side-img-2 {margin-left: 0px}

	.center-img {
		z-index: 3;
		width: 40%;
		margin: auto 0px auto
	}

	.collection {
		width: 90%
	}

	.custom-file-upload p {
		margin: auto;
		font-size: 16px
	}
}
