/*Palette:
- Oscuro: #1D1E2C
- Azulito: #C4D7F2
- Salmón: #FF958C
- Piel de limón: #FDFCEC
- Granate raro no sé: #B6244F
*/

/*----- MAIN SECTION -----*/
section{
	background-color: #1D1E2C;
	padding-bottom: 25%;
	display: block;
	text-align: center;
}

section input{
	background: #FDFCEC;
	border-radius: 30px;
	border: 0px;
	margin: 5px auto;
	font-size: 20px;
}

h3{
	margin: auto;
}

h4{
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #FF958C;
}

h5{
	font-size: 12px;
}

label{
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
	color: #FF958C;
	text-align: center;
	margin: auto;
}

#budget-frm{
	display: flex;
	margin: auto;
}

#budget-params div{
	display: flex;
	flex-wrap: wrap;
	text-align: right;
	margin: 20px auto;
}

#destination-frm, #interests-frm{
	display: block;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}

#search-btn{
	margin: 20px auto;
	background: #B6244F;
	border-radius: 20.3125px;
	color: #FDFCEC;
	font-size: 18px;
	padding: 10px 20px;
}


@media only screen and (min-device-width: 601px) {
  /* For tablets: */
}


@media only screen and (min-device-width: 769px) {
	#budget-frm{
		padding-bottom: 40px;
	}

	#destination-frm, #interests-frm{
		text-align: right;
		display: flex;
		margin: auto;
		padding-bottom: 40px;
	}

	#destination-frm h3, #interests-frm h3{
		text-align: left;
	}
}
