/*Palette:
- Oscuro: #1D1E2C
- Azulito: #C4D7F2
- Salmón: #FF958C
- Piel de limón: #FDFCEC
- Granate raro no sé: #B6244F
*/

/*----- MAIN SECTION -----*/
section{
	background-color: #1D1E2C;
}

#main-sect {
	height: 80%;
	display: flex;
}

#profile {
	background-color: #C4D7F2;
	display: flex;
	flex-direction: column;
	margin: 3.5% auto;
}

#pfp {
	width: 17.5vh;
	margin: 20px auto 10px auto;
}

#profile p {
	color: black;
	font-size: 18px;
	text-align: center;
}

br {
	margin-bottom: 25px
}

#br-interests {
	margin-bottom: 12px
}

.button-profile {
	height: 3.7vh;
	border: none;
	border-radius: 20px;
	font-size: 21.8px;
	color: black;
	background-color: #FF958C;
	position: absolute;
	bottom: 0px
}

.not-bot {
	position: inherit;
	bottom: auto;
	margin: 10px auto;
}

#interests {
	display: flex;
}


.interest {
	width: 7vw;
	height: 2.7vh;
	background-color: #FDFCEC;
	border-radius: 20px;
	margin: 5px auto;
	text-align: center;
}

.interest a {
	color: black;
	font-style: italic;
	font-size: 16px;
	padding-top: 2px
}

#br-button {
	margin-bottom: 0px;
}


@media only screen and (min-device-width: 601px) {
  /* For tablets: */
}


@media only screen and (min-device-width: 769px) {
  /* For desktop: */

	#profile-data {
		display: inline-flex;
		margin: auto;
		gap: 100px;
		height: 55%
	}

	.column {
		display: block;
	  float: left;
	  margin: auto;
	}

	.profile-art {
		width: 12vw;
		height: 100%;
		position: relative;
	}

	.button-profile {
		width: 15vw;
	}

	.not-bot {
		width: 18vw;
	}
}
