/*Palette:
- Oscuro: #1D1E2C
- Azulito: #C4D7F2
- Salmón: #FF958C
- Piel de limón: #FDFCEC
- Granate raro no sé: #B6244F
*/
#nav-header-menu {
	display:  none
}
/*----- MAIN SECTION -----*/
section{
	background-color: #1D1E2C;
}

#main-sect {
	height: 80%;
	display: flex;
}

#profile {
	background-color: #C4D7F2;
	display: flex;
	flex-direction: column;
	margin: 3.5% auto;
	overflow: scroll;
}

#pfp {
	width: 100px;
	margin: 20px auto 10px auto;
}

#profile p {
	color: black;
	font-size: 16px;
	text-align: center;
	line-height: 26px
}

.default {
	margin-bottom: 15px
}

#br-interests1, #br-interests2 {
	display: none
}

.big-button {
	height: 22px;
	font-size: 16px;
	margin: 0px auto 10px
}

#interests {
	display: flex;
	flex-direction: column;
}

.column {
	width: 90%;
	display: flex;
	flex-direction: row;
	margin: auto;
}

.interest {
	width: 30%;
	height: 22px;
	background-color: #FDFCEC;
	border-radius: 20px;
	margin: 5px auto;
	text-align: center;
}

.interest a {
	color: black;
	font-style: italic;
	font-size: 16px;
	padding-top: 2px
}

#buttons {
	margin: auto;
	text-align: center;
}



@media only screen and (min-device-width: 601px) {
  /* For tablets: */
	#pfp{
		width: 125px
	}

	#profile-data {
		display: grid;
		grid-template-areas: 'left right';
	}

	#interests {
		flex-direction: row;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	.column {
		flex-direction: column;
	}

	.interest {
		width: 100%;
		height: 22px;
	}

}


@media only screen and (min-device-width: 769px) {
  /* For desktop: */

	#profile-data {
		margin: auto;
		grid-column-gap: 75px
	}

	#profile-data p {
		font-size: 18px
	}

	.big-button {
		font-size: 22px;
		height: 33px
	}


	#interests-p {
		margin-top: 30px
	}

	.interest a {
		font-size: 18px;
	}

	#buttons {

	}

}

@media only screen and (min-device-width: 1100px) {
  /* For desktop: */
	#profile-data {
		width: 58.33%;
	}

	#change-pfp {
		width: 25%
	}
}
