/*Palette:
- Oscuro: #1D1E2C
- Azulito: #C4D7F2
- Salmón: #FF958C
- Piel de limón: #FDFCEC
- Granate raro no sé: #B6244F
*/
/*----- MAIN SECTION -----*/
section{
	background-color: #1D1E2C;
}

#main-sect {
	height: 80%;
	display: flex;
}

#profile {
	background-color: #C4D7F2;
	display: flex;
	flex-direction: column;
	margin: 3.5% auto;
	overflow: scroll;
	scrollbar-width: thin;
	scrollbar-color: rgba(0,0,0,0.25) transparent;
}

#pfp {
	width: 100px;
	margin: 20px auto 10px auto;
}

#profile p {
	color: black;
	font-size: 16px;
	text-align: center;
	line-height: 26px
}

.default {
	margin-bottom: 15px
}

#br-interests1, #br-interests2 {
	display: none
}

.big-button {
	height: 22px;
	font-size: 16px;
	margin: 0px auto 10px
}

#interests {
	display: flex;
	flex-direction: column;
}

.column {
	width: 90%;
	display: flex;
	flex-direction: row;
	margin: auto;
}

.interest a {
	color: black;
	font-style: italic;
	font-size: 16px;
	padding-top: 2px
}

#buttons {
	margin: auto;
	text-align: center;
}

/*----------POPUPS----------*/
#change-pfp, #change-interests, .hidden, #modify-profile {
	display: none;
}

#before-after {
	margin: auto;
	display: flex;
}

#pfpp-1, #pfpp-2 {
	width: 100px;
}

#pfpp-1-cont {
	margin: auto 0px auto auto;
}

#pfpp-2-cont {
	margin: auto auto auto 0px
}

#pfpp-1-cont p, #pfpp-2-cont p {
	margin: 7px auto;
	text-align: center;
	color: #FF958C
}

#arrow {
	width: 15px;
	margin: auto 20px
}

#new-picture {
	display: flex;
	flex-direction: column;
}

#input-label {
	color: black;
	font-style: italic;
	background-color: white;
	padding: 5px 120px;
	border-radius: 20px;
	margin: 10px auto;
	cursor: pointer;
}

.submit-but {
	margin: 20px auto;
	border: none;
	border-radius: 20px;
	line-height: 30px;
}

.change-things {
	display: flex;
	flex-flow: column;
}

.input-modify {
	margin: auto 15% auto auto;
	height: 30px;
	padding-left: 10px;
	border-radius: 20px;
	border: none;
	outline: none;
}

.change-things label {
	color: #FF958C;
	font-style: italic;
	line-height: 40px;
	margin-left: 15%
}

#interests-remove {
	overflow: scroll;
	scrollbar-width: thin;
	scrollbar-color: rgba(255,255,255,0.25) transparent;
	display: grid;
	grid-template-areas: 'left mid right';
}

.interest-to-choose {
	margin: auto;
}

.interest-to-choose p {
	font-size: 16px;
	text-align: center;
	margin-bottom: 5px
}

.interest-to-choose .small {
	padding-bottom: 5px;
}

#label-int {
	margin: 20px auto 0px;
}

@media only screen and (min-device-width: 601px) {
  /* For tablets: */
	#pfp{
		width: 125px
	}

	#profile-data {
		display: grid;
		grid-template-areas: 'left right';
	}

	#interests {
		flex-direction: row;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		gap: 20%;
	}

	.column {
		flex-direction: column;
	}

	.interest {
		width: 100%;
		height: 22px;
	}

}


@media only screen and (min-device-width: 769px) {
  /* For desktop: */

	#profile-data {
		margin: auto;
		grid-column-gap: 75px
	}

	#profile-data p {
		font-size: 18px
	}

	.big-button {
		font-size: 22px;
		height: 33px
	}


	#interests-p {
		margin-top: 30px
	}

	.interest a {
		font-size: 18px;
	}

	#buttons {

	}

}

@media only screen and (min-device-width: 1100px) {
  /* For desktop: */
	#profile-data {
		width: 58.33%;
	}

	#change-pfp-begin {
		width: 25%
	}
}
