/* IMPLEMENTS top_users.html SPECIFIC DESIGN */

/*----- CUSTOMIZED STANDARD -----*/
p{
	text-align: center;
}

/*----- MAIN SECTION -----*/
section{
	background-color: #1D1E2C;
	padding-bottom: 30px;
	display: block;
}

.user{
	display: flex;
	flex-wrap: wrap;
	margin: 30px auto;
	padding: 10px;
	background-color: rgba(196, 215, 242, 0.1);
}

.user h3, .user div{
	display: block;
	margin: auto;
}

.pfp{
	margin: auto;
	display: block;
}

.pfp img{
	margin: auto;

}

.imgs{
	display: flex;
	margin: 20px auto;
}

.img1{
	display: flex;
	margin: 10px auto;
}

.img2{
	display: none;
}


@media only screen and (min-device-width: 601px) {
  /* For tablets: */
	.user div{
		display: block;
		margin: auto;
	}

	.user h3 {
		margin: auto;
	}

	.img1{
		margin: auto;
	}

	.img2{
		display: flex;
		margin: 20px auto;
	}
}

@media only screen and (min-device-width: 769px) {
  /* For desktop: */
	.users {
		background-color: transparent;
	}
}
